*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #aaaaaa00;
}
.contener{
    width: 1100px;
    margin: 0 auto;
}
/* nav bar start */
.menu-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.nav-text h3{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
}   
.nav-menu ul li{
    padding: 15px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.nav-menu .icon .fas{
    padding-left: 10px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
/* nav bar end */