*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #aaaaaa00;
}
.contener{
    width: 1100px;
    margin: 0 auto;
}
/* ---------------
    header start
 -----------------*/
/* nav bar start */
.menu-ber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.nav-text h3{
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
}   
.nav-menu ul li{
    padding: 15px;
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
.nav-menu .icon .fas{
    padding-left: 10px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}
/* nav bar end */
/* baner start  */
.baner{
    /* margin: 50px 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.baner .baner-text{
    width: 582px;
    height: 270px;
}
.baner .baner-pic{
    overflow: hidden;
}
.baner .baner-pic img{
    width: 100%;    
}
.baner-pic:hover img{
    transform: scale(1.5);
       
}
.baner-text h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
}
.baner-text p{
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
    line-height: 24px;
    margin-bottom: 20px;
}
.baner-text a{
    width: 199px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
.baner-text a .fas{
    padding-left: 10px;
    font-size: 16px;
    font-weight: 600;
}
/* baner end  */
/* ---------------
    header end
 -----------------*/
 /* brend-logo start */
.brend-logo{
    margin: 100px 0;
    padding:  10px 50px;
    border-top: 1px solid rgba(235, 229, 229, 0.815);
    border-bottom: 1px solid rgba(235, 229, 229, 0.815);
    display: flex;
    justify-content: space-between;
}
  /* brend-logo end */
  /* Popular Collection start */
section .section-titel{
    text-align: center;
    margin: 50px;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
.popular-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
  .popular{
    width: 329px;
    height: 476px;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.popular .popular-pic img{
    width: 300px;
    height: 256px;
}
.popular-text .popular-titel{
    color:#18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    padding: 15px 0 10px 0;
}
.popular-text .popular-price{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}
.popular-icon span{
    padding-left: 15px;
    color: #5E6366;
    font-size: 15px;
    font-weight: 400;
}
.popular-icon .fa-star{
    color: #FB8200;
    font-size: 16px;
    padding: 10px 0;
}
.quality-text .pp{
    width: 196px;
    height: 48px; 
}
.popular-icon .quality-text p{
    line-height: 22px;
    color: #787885;
    font-size: 16px;
    font-weight: 700;
}
.quality-text .par{
    width: 196px;
    height: 48px; 
}
.contener-a {
    text-align: right;
    margin: 40px;
}
.contener-a a{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
}
.contener-a a .fas{
    padding-left: 10px;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 600;
}
  /* Popular Collection end */
  /* CONTACT start */
  .contact-titel{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}
.contact{
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.contact-left img{
    width: 100%;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-field{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid ;
    font-family: inherit;
}
.button{
    color: white;
    background-color: #E02C6D;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
}
  /* CONTACT end */

  /* -- footer start -- */
footer{
    background-color: #0A0826;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    color: #FFFF;
}
.footer-full{
    display: flex;
    flex-direction: column;
}
.footer-titel h3{
    font-size: 24px;
    font-weight: 700;
    color: #FFFF;
    line-height: 36px;
}
.footer-titel p{
    font-size: 14px;
    font-weight: 600;
    color: #D9DBE1;
    line-height: 24px;
}

.footer-icon{
    padding-top: 10px;
}

.footer-icon .fab{
    padding-left: 10px;
    font-size: 15px;
}
/* -- footer end -- */
    /*---@media query---*/
@media only screen and (max-width:688px) {
    .baner{
        display: flex;
        flex-direction: column;
    }
    .popular-main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    /* .popular, .popular-pic, .{
        width: 100%;
    } */
    .brend-logo, .nav-menu{
        display: none;
    }

    .contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .footer, .footer-full, .popular-pic img{
        width: 100%;
    }

}